<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Style css -->
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <div class="mess-wrapper">
        <h3 class="text-dark text-center">WELLCOME TO THE MESS</h3>

        <div class="container">
            <div class="content row d-flex">
                <div class="left-sidebar mt-3 col-3 m-0">
                    <div class="member-details my-3">
                        <ul class="list-group text-dark">
                            <li><a href="/member">
                                    <div class="btn btn-lg btn-info d-block">member</div>
                                </a></li>
                            <li><a href="/meal">
                                    <div class="btn btn-lg btn-info d-block">meal</div>
                                </a></li>
                            <li><a href="/bazar">
                                    <div class="btn btn-lg btn-info d-block">bazar</div>
                                </a></li>
                            <li><a href="/deposit">
                                    <div class="btn btn-lg btn-info d-block">deposit</div>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="mid-content col-6 mx-auto">
                    <div class="calculation-wrapper">
                        <div class="member-details my-3">
                            <ul class="list-group text-dark">
                                <li class="list-group-item text-dark">Total Deposite: <%=totaldeposite%></li>
                                <li class="list-group-item text-dark">Total Bazar: <%=totalbazar%></li>
                                <li class="list-group-item text-dark">Total Remaning Balance:
                                    <%=totaldeposite-totalbazar%></li>
                                <li class="list-group-item text-dark">Total Meal: <%=totalmeal%> </li>
                                <li class="list-group-item text-dark">Meal Rate:<%=Math.ceil(totalbazar/totalmeal)%>
                                </li>
                                <li class="list-group-item text-dark">Date <%=date%></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right-sidebar col-3 ml-auto">
                    <div class="member-info">
                        <img class="p-img" src="http://localhost:3000/member/<%=userImage._id%>" alt=" <%=userImage%>"
                            class="img-responsive postImage">
                        <div class="member-details my-3">
                            <ul class="list-group text-dark">
                                <li class="list-group-item text-dark">NAME:<%=userName%></li>
                                <li class="list-group-item text-dark">Deposite:<%=userDeposite%></li>
                                <li class="list-group-item text-dark">Meal:<%=UserMeal%></li>
                                <li class="list-group-item text-dark">Cost:<%=UserMeal*Math.ceil(totalbazar/totalmeal)%>
                                </li>
                                <li class="list-group-item text-dark">
                                    Ramaning:<%=userDeposite-(UserMeal*Math.ceil(totalbazar/totalmeal))%></li>
                                <li class="list-group-item text-dark">PHONE:<%=mobileNum%></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>